<h1>ユーザ情報をどんどん記入していく。例えばアカウント情報とか注文履歴とか、アカウントサービス、お支払い方法</h1>
<p><%= @user.name %></p>
<p><%= @user.name_kana %></p>
<p><%= @user.email %></p>

<div>
  注文履歴
</div>

<div>
  <%= link_to "ログインとセキュリティ", edit_user_path(current_user) %>
</div>

<div>
  アドレス帳
<div>

<div>
  お支払い方法
</div>
