<div class="listings">
  <div class="listings_admin">
    <h2 class="listings_header">admin</h2>
    <ul class="admin_list">
      <%= sidebar_link_item('ä¼æ¥­ä¸€è¦§', admin_companies_path) %>
    </ul>
  </div>
</div>
